<link rel="stylesheet" href="./css/login.css">
       <div class="login-page">
        <div class="form">
            <form class="login-form" method="post" id="login" name="login-form">
                <input type="text" id="username" ng-model="username" placeholder="Username" required/>
                <input type="number" placeholder="Mobile" ng-model="phone" required/>
                <input type="email" id="email" ng-model="email" placeholder="Email" required/>
                <button type="submit" id="submit" ng-click="cabConfirmation()">{{button_label}}</button>
            </form>
        </div>
    </div>